body{
  font-family: Arial, Helvetica, sans-serif;

}

.header1{
  background-color: #1c4587;
  height: 120px;
  border: solid black;
  margin: 0%;
}

.headerTitle{
  color: white;
  text-align: center;
  font-size: 4em;
}

.container1{
  width: 50%;
  border-top: solid #cfe2f2 20px;
  display: inline-block;
  margin-left: 20%;
  margin-top: 30px;
}

.container2{
  float: right;
  width: 15%;
  font-size: .75em;
  margin: 100px 5% auto 50px;
}

.sideTitle{
  font-weight: 300;
}

.placeholderimage{
  height: 100px;
  width: 175px;
}

.smallTitle{
  text-align: center;
  font-size: 2.5em;
  font-weight: 200;
}

.textBold{
  font-weight: bold;
}

.paragraph{
  width: 85%;
  text-align: left;
  padding-left: 40px;
}



.footer1{
  position: static;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color: #1c4587;
  border: solid black;
  margin: 0%;
}